<div style="text-align:center">
  <!-- <h1>
      this is {{name}}
  </h1> -->
  <h1>TO DO LIST</h1>
  
<!-- <img width="300" alt="Angular logo" [src]="url">  -->
<!-- <h1 *ngIf="name=='admin'">hello</h1> -->
<!-- <input type="text" [(ngModel)]="name"> -->
{{pending()}}/{{numbers.length}}

</div >

      <input type="text" [(ngModel)]="name">
      <select name="" id="" [(ngModel)]="priority">
        <option >high</option>
        <option >medium</option>
        <option >low</option></select>

      <button (click)="add()">
              Add
          </button>
          
<ul  list-style-type: none>

<li [ngClass]="{'greenbg':number.status==true,'changecolor':number.status==false,'changecolor1':number.priority=='high','changecolor2':number.priority=='medium','changecolor3':number.priority=='low'}" *ngFor="let number of numbers;let i=index">{{number.name}}       {{number.priority}}      {{number.date}}
  <button (click)="delete(i)">delete</button>
  <button (click)="done(i)">done</button>
</li> 
  <!-- <h3 [ng class]="{'greenbg':name=='sachin'}">{{name}}</h3> -->


</ul>